nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
}

nav ul .active {
  background-color: #005200;
}

ul li .title {
  font-weight: bold;
}

ul .nobullet {
  list-style-type: none;
}

nav li {
  float: left;
  font-size: 20px;
}

nav li a:hover {
  background-color: green;
}

body {
  margin: 0;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

article {
  margin-left: 15px;
}

article section {
  margin-left: 15px;
}

section a {
  text-decoration: none;
}

.tabbed {
  padding-left: 15px;
}