nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
}

nav li{
  float: left;
}
nav li a:hover{
  background-color: green;
}

body {
  margin: 0;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

article {
    margin-left: 15px;
}

article section {
    margin-left: 15px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}
